In [1]:
import pandas as pd

# load data
df = pd.read_csv('data/data_leads.csv')

# memberikan ringkasan statistik dasar dari kolom-kolom numerik
df_description = df.describe()

# penambahan untuk memerika nilai yang hilang
missing_values = df.isnull().sum()
unique_counts = df.nunique()

# menampilkan baris pertama yang ada pada dalam Dataframe
df.head()

,code_id,orderid,itemid,nama_pengguna,produk,review,rating,waktu_transaksi
0,10141437712_1725446523_301414380,178793532297209,10141437712,sizzkaa,Tuas Paha Rem NUI Racing Project +Per atau Non...,NaN,5,2024-09-04 17:42:00
1,10141437712_1725449818_180417086,178955747242796,10141437712,djamaljem,Tuas Paha Rem NUI Racing Project +Per atau Non...,NaN,5,2024-09-04 18:36:00
2,10141437712_1725464602_235555145,177327407268874,10141437712,chn812,Tuas Paha Rem NUI Racing Project +Per atau Non...,NaN,5,2024-09-04 22:43:00
3,10141437712_1725537341_354795463,179041092217901,10141437712,ardiansyah_230900,Tuas Paha Rem NUI Racing Project +Per atau Non...,NaN,5,2024-09-05 18:55:00
4,10141437712_1725538794_701141224,179033176234979,10141437712,fransiscaadhelaayu,Tuas Paha Rem NUI Racing Project +Per atau Non...,NaN,5,2024-09-05 19:19:00

In [2]:
# mendapatkan informasi ringkasan dari Dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1105 entries, 0 to 1104
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   code_id          1105 non-null   object
 1   orderid          1105 non-null   int64
 2   itemid           1105 non-null   int64
 3   nama_pengguna    1105 non-null   object
 4   produk           1105 non-null   object
 5   review           145 non-null    object
 6   rating           1105 non-null   int64
 7   waktu_transaksi  1105 non-null   object
dtypes: int64(3), object(5)
memory usage: 69.2+ KB

In [3]:
df_description

            orderid        itemid       rating
count  1.105000e+03  1.105000e+03  1105.000000
mean   1.786843e+14  2.054894e+10     4.816290
std    1.309404e+12  6.471202e+09     0.570808
min    1.680731e+14  2.671322e+09     1.000000
25%    1.788205e+14  1.808170e+10     5.000000
50%    1.789866e+14  2.244974e+10     5.000000
75%    1.791491e+14  2.511602e+10     5.000000
max    1.795751e+14  2.995067e+10     5.000000

In [4]:
missing_values

code_id              0
orderid              0
itemid               0
nama_pengguna        0
produk               0
review             960
rating               0
waktu_transaksi      0
dtype: int64

In [5]:
unique_counts

code_id            1105
orderid             736
itemid              175
nama_pengguna       690
produk              180
review              129
rating                5
waktu_transaksi     684
dtype: int64